.header {
  background-color: #d9d9d9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 74px;
  padding: 0 120px;
}

.logo {
  margin-top: 5px;
  width: 76px;
  height: 71px;
}

.whatsappIcon {
  height: 1.8rem;
  margin-top: -0.3rem;
  margin-right: -0.8rem;
}

.navList {
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navList li {
  margin: 0;
}

.navList a {
  display: block;
  color: #333;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 0;
}

@media only screen and (max-width: 428px) {
  .header .navList li:nth-child(1),
  .header .navList li:nth-child(5) {
    display: none;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }

  .logo {
    order: 1;
  }

  .navList {
    font-size: 16px;
    order: 3;
    gap: 0.1rem;
  }

  .navList li {
    margin-left: 1rem;
  }

  .whatsappIcon {
    margin-top: -0.3rem;
    margin-right: 0rem;
  }
}

@media only screen and (max-width: 375) {
  .navList {
    font-size: 12px;
    order: 3;
    gap: 0.1rem;
  } 
}